<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      {{#link-to 'index' class="navbar-brand"}}ember-sortable-table{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/ChrisHonniball/ember-sortable-table">View on <i class="fa fa-github"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="clearfix" style="height: 70px;"></div>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <p class="lead">Ember CLI addon component to add a sortable table to your templates.</p>
  
  {{!
  <hr class="row">
  
  <h2>Installation</h2>
  <pre>ember install ember-sortable-table</pre>
  }}
  
  <hr class="row">
  
  <div class="text-center">
    <h2>Project Status</h2>
    <h1><span class="label label-warning">Active Development</span></h1>
  </div>
  
  <div class="clearfix"></div>
  <hr class="row">
  
  <h2>Concept</h2>
  <p><code>ember-sortable-table</code> is an addon component for Ember CLI applications that will give you a simple way to make your tables sortable by clicking on the table's headers. Using <a href="http://tablesorter.com" target="_blank">TableSorter by Christian Bach</a> you simply replace your standard <code>&lt;table&gt;</code> with the <code>\{{ember-sortable-chosen}}</code> helper.</p>
  
  <div class="col-md-6 col-sm-12">
  <h3>Standard Mark-up</h3>
  
<pre>&lt;table&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Team Name&lt;/th&gt;
      &lt;th&gt;City&lt;/th&gt;
      &lt;th&gt;Stadium&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Rowdies&lt;/td&gt;
      &lt;td&gt;Tampa Bay&lt;/td&gt;
      &lt;td&gt;Al Lang&lt;/td&gt;
    &lt;/tr&gt;
    ...
  &lt;/tbody&gt;
&lt;/table&gt;</pre>
  </div>
  
  <div class="col-md-6 col-sm-12">
  <h3>Ember-Sortable-Table Mark-up</h3>
<pre>\{{#ember-sortable-table}}
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Team Name&lt;/th&gt;
      &lt;th&gt;City&lt;/th&gt;
      &lt;th&gt;Stadium&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Rowdies&lt;/td&gt;
      &lt;td&gt;Tampa Bay&lt;/td&gt;
      &lt;td&gt;Al Lang&lt;/td&gt;
    &lt;/tr&gt;
    ...
  &lt;/tbody&gt;
\{{/ember-sortable-table}}</pre>
  </div>
</div>

<div class="clearfix"></div>
<hr class="row">

<div class="col-xs-12 text-center lead">
  Proudly created by <a href="https://chrishonniball.github.io">@ChrisHonniball</a>
</div>
